# Exploratory Data Analysis

In [4]:
## Loading the necessary libraries
import pandas as pd
import numpy as np

Loading the Dataset

In [5]:
df = pd.read_csv("data/Loan_Data_New.csv")
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1000000,7423388,5583,5583,5530,60 months,9.02,177.59,C,F5,...,73260,38.5,3,8,7195,8.6,75743,2,7,14
1,1000001,7550634,12889,12889,12818,60 months,21.10,486.26,E,F5,...,61649,89.6,2,16,15986,76.7,20687,3,12,11
2,1000002,5304572,28413,28413,28365,60 months,22.00,1085.11,F,G2,...,67743,14.2,0,2,17843,69.1,33780,4,9,6
3,1000003,3234489,13275,13275,13177,36 months,10.78,433.22,C,A1,...,13596,35.8,6,13,7374,73.3,51219,3,7,2
4,1000004,8204212,3461,3461,3451,36 months,24.05,135.88,C,C3,...,32746,69.8,0,2,17830,66.8,90069,8,9,6

Size of the Dataset

In [15]:
df.shape

(2000, 75)

Creating a copy of the dataset as Backup

In [6]:
df_backup = df.copy()

Setting the option for showing all columns on head and tail function

In [7]:
pd.options.display.max_columns = None

### Basic Data Exploration

In [8]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1000000,7423388,5583,5583,5530,60 months,9.02,177.59,C,F5,Analyst,7 years,OWN,223074,Not Verified,Mar-14,In Grace Period,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,small_business,small_business,826xx,FL,36.70,4,Jul-00,5,97,12,9,2,14221,69.2,15,w,2848.733383,2848.733383,5269.32,5269.32,2786.79,312.77,0,411.18,0,Oct-12,1256.89,Oct-18,Nov-09,0,86,1,JOINT,NaN,NaN,NaN,1,5651,65674,9,3,4,2,22,73260,38.5,3,8,7195,8.6,75743,2,7,14
1,1000001,7550634,12889,12889,12818,60 months,21.10,486.26,E,F5,Analyst,10+ years,RENT,77965,Verified,Apr-08,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,major_purchase,major_purchase,371xx,FL,9.00,1,May-05,8,37,95,21,3,3849,36.7,28,w,486.303639,486.303639,14077.04,14077.04,7890.49,474.55,0,203.01,0,Sep-17,31.98,Dec-18,Nov-15,0,80,1,INDIVIDUAL,NaN,NaN,NaN,2,9884,169178,6,4,4,2,94,61649,89.6,2,16,15986,76.7,20687,3,12,11
2,1000002,5304572,28413,28413,28365,60 months,22.00,1085.11,F,G2,Doctor,7 years,OWN,254466,Verified,Apr-07,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,small_business,small_business,868xx,GA,18.98,2,Mar-02,0,28,54,28,2,22814,7.3,40,f,4621.584492,4621.584492,17706.13,17706.13,15865.62,1680.83,0,312.33,0,Jul-11,1198.52,Jun-19,Jan-16,0,44,1,JOINT,NaN,NaN,NaN,0,1362,474514,7,4,3,13,93,67743,14.2,0,2,17843,69.1,33780,4,9,6
3,1000003,3234489,13275,13275,13177,36 months,10.78,433.22,C,A1,Developer,2 years,OWN,89776,Not Verified,Apr-15,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,home_improvement,home_improvement,383xx,OH,18.98,4,Aug-04,3,60,7,26,3,46767,73.8,37,f,7659.298422,7659.298422,8718.96,8718.96,8809.01,1392.19,0,48.17,0,Sep-13,292.56,Feb-19,Feb-10,0,9,1,JOINT,NaN,NaN,NaN,2,458,172529,6,3,2,4,70,13596,35.8,6,13,7374,73.3,51219,3,7,2
4,1000004,8204212,3461,3461,3451,36 months,24.05,135.88,C,C3,Doctor,6 years,OWN,110932,Source Verified,Jan-10,Late (31-120 days),n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,vacation,vacation,405xx,IL,32.62,3,Nov-02,9,31,61,15,2,4616,96.5,37,f,221.526327,221.526327,4465.51,4465.51,2638.47,911.59,0,388.52,0,Nov-17,284.82,Jun-19,May-14,0,8,1,INDIVIDUAL,NaN,NaN,NaN,2,4785,125768,7,2,4,0,19,32746,69.8,0,2,17830,66.8,90069,8,9,6

Looking at all the columns altogether

In [9]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [10]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
1995,1001995,7154512,10783,10783,10709,36 months,10.50,350.47,G,A2,Teacher,8 years,RENT,63382,Verified,May-08,Late (31-120 days),n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,wedding,wedding,460xx,GA,11.05,4,Aug-86,5,77,80,15,2,48915,20.7,34,f,1988.311864,1988.311864,15653.08,15653.08,8715.91,586.07,0,441.66,0,Apr-10,1691.89,Jul-18,Feb-08,0,66,1,INDIVIDUAL,NaN,NaN,NaN,0,685,430921,6,1,4,8,37,68129,51.4,9,3,19306,40.4,98583,3,11,10
1996,1001996,4759505,14233,14233,14232,60 months,5.66,430.81,D,D3,Engineer,6 years,OWN,238565,Source Verified,Oct-15,Late (31-120 days),n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,debt_consolidation,debt_consolidation,394xx,NY,13.10,4,Jul-82,4,25,5,23,2,48993,40.9,37,f,5742.741202,5742.741202,14677.37,14677.37,12277.53,923.25,0,44.52,0,Apr-12,201.28,Jun-18,Oct-10,0,80,1,INDIVIDUAL,NaN,NaN,NaN,1,6433,137970,0,4,3,9,76,45087,78.3,7,7,16185,46.1,89789,3,8,4
1997,1001997,9415414,25484,25484,25471,36 months,13.41,863.70,G,C3,Analyst,3 years,MORTGAGE,182008,Source Verified,May-13,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,small_business,small_business,804xx,NY,19.66,4,Jun-87,6,21,18,12,3,38877,51.5,14,w,4078.168083,4078.168083,37004.10,37004.10,22973.08,1404.51,0,339.78,0,Jul-08,1354.41,Oct-18,Apr-14,0,8,1,JOINT,NaN,NaN,NaN,2,6723,404210,1,3,0,11,18,62998,18.1,8,4,11673,42.2,16326,9,10,14
1998,1001998,6418952,26068,26068,26039,60 months,22.90,1007.73,B,A5,Manager,3 years,RENT,107081,Not Verified,Apr-09,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,car,car,478xx,OH,1.74,2,Aug-91,3,33,24,9,2,34888,35.3,33,f,8492.596873,8492.596873,32963.46,32963.46,20733.27,138.62,0,44.40,0,May-08,1584.18,May-18,Jul-17,0,46,1,INDIVIDUAL,NaN,NaN,NaN,0,8078,132196,8,3,3,4,5,54885,75.1,1,12,8802,99.7,76698,9,13,13
1999,1001999,5609688,1191,1191,1143,60 months,24.65,47.13,E,D5,Analyst,10+ years,RENT,73441,Source Verified,Oct-07,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,debt_consolidation,debt_consolidation,320xx,GA,12.60,4,Jan-88,0,96,2,12,2,44105,57.4,29,f,4157.341334,4157.341334,776.91,776.91,712.39,664.99,0,374.45,0,Oct-14,553.54,Jan-18,Jul-14,0,39,1,INDIVIDUAL,NaN,NaN,NaN,2,9873,91360,6,1,9,14,118,77380,0.9,1,19,19739,77.0,87322,2,13,12

Info aboout the data

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2000 non-null   int64
 1   member_id                    2000 non-null   int64
 2   loan_amnt                    2000 non-null   int64
 3   funded_amnt                  2000 non-null   int64
 4   funded_amnt_inv              2000 non-null   int64
 5   term                         2000 non-null   object
 6   int_rate                     2000 non-null   float64
 7   installment                  2000 non-null   float64
 8   grade                        2000 non-null   object
 9   sub_grade                    2000 non-null   object
 10  emp_title                    1800 non-null   object
 11  emp_length                   2000 non-null   object
 12  home_ownership               2000 non-null   object
 13  annual_inc                   2000 non-null   int64
 14  verification_status          2000 non-null   object
 15  issue_d                      2000 non-null   object
 16  loan_status                  2000 non-null   object
 17  pymnt_plan                   2000 non-null   object
 18  url                          2000 non-null   object
 19  desc                         2000 non-null   object
 20  purpose                      2000 non-null   object
 21  title                        2000 non-null   object
 22  zip_code                     2000 non-null   object
 23  addr_state                   2000 non-null   object
 24  dti                          2000 non-null   float64
 25  delinq_2yrs                  2000 non-null   int64
 26  earliest_cr_line             2000 non-null   object
 27  inq_last_6mths               2000 non-null   int64
 28  mths_since_last_delinq       2000 non-null   int64
 29  mths_since_last_record       2000 non-null   int64
 30  open_acc                     2000 non-null   int64
 31  pub_rec                      2000 non-null   int64
 32  revol_bal                    2000 non-null   int64
 33  revol_util                   2000 non-null   float64
 34  total_acc                    2000 non-null   int64
 35  initial_list_status          2000 non-null   object
 36  out_prncp                    2000 non-null   float64
 37  out_prncp_inv                2000 non-null   float64
 38  total_pymnt                  2000 non-null   float64
 39  total_pymnt_inv              2000 non-null   float64
 40  total_rec_prncp              2000 non-null   float64
 41  total_rec_int                2000 non-null   float64
 42  total_rec_late_fee           2000 non-null   int64
 43  recoveries                   2000 non-null   float64
 44  collection_recovery_fee      2000 non-null   int64
 45  last_pymnt_d                 2000 non-null   object
 46  last_pymnt_amnt              2000 non-null   float64
 47  next_pymnt_d                 2000 non-null   object
 48  last_credit_pull_d           2000 non-null   object
 49  collections_12_mths_ex_med   2000 non-null   int64
 50  mths_since_last_major_derog  2000 non-null   int64
 51  policy_code                  2000 non-null   int64
 52  application_type             2000 non-null   object
 53  annual_inc_joint             0 non-null      float64
 54  dti_joint                    0 non-null      float64
 55  verification_status_joint    0 non-null      float64
 56  acc_now_delinq               2000 non-null   int64
 57  tot_coll_amt                 2000 non-null   int64
 58  tot_cur_bal                  2000 non-null   int64
 59  open_acc_6m                  2000 non-null   int64
 60  open_il_6m                   2000 non-null   int64
 61  open_il_12m                  2000 non-null   int64
 62  open_il_24m                  2000 non-null   int64
 63  mths_since_rcnt_il           2000 non-null   int64
 64  total_bal_il                 2000 non-null   int64
 65  il_util                      2000 non-null   float64
 66  open_rv_12m                  2000 non-null   int64
 67  open_rv_24m                  2000 non-null   int64
 68  max_bal_bc                   2000 non-null   int64
 69  all_util                     2000 non-null   float64
 70  total_rev_hi_lim             2000 non-null   int64
 71  inq_fi                       2000 non-null   int64
 72  total_cu_tl                  2000 non-null   int64
 73  inq_last_12m                 2000 non-null   int64
dtypes: float64(17), int64(35), object(22)
memory usage: 1.1+ MB

#### Rule 1:
All the continuos variable must be numerical

In [12]:
## Handling emp_length column
df['emp_length'].value_counts()

## To numerical
## df['emp_length'] = df['emp_length_int']

emp_length
1 year       205
9 years      195
< 1 year     192
7 years      187
5 years      186
2 years      185
4 years      174
10+ years    171
8 years      171
3 years      168
6 years      166
Name: count, dtype: int64

In [13]:
df['emp_length_int'] = df['emp_length'].str.replace(" years","").str.replace(" year","").str.replace("<1",str(0)).str.replace("10+",str(10))

## checking the conversion
df['emp_length_int'].value_counts()

# Dtype checking, should be str now
type(df['emp_length_int'][0])  # good to go

str

In [14]:
## Counting the no of rows in dataframe
len(df)

2000