# Preparing Data For the Modelling

Importing libraries

In [58]:
import pandas as pd
import numpy as np

In [59]:
## Loading the dataset
df = pd.read_csv("data/Loan_Data_New.csv")
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1000000,7423388,5583,5583,5530,60 months,9.02,177.59,C,F5,Analyst,7 years,OWN,223074,Not Verified,Mar-14,In Grace Period,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,small_business,small_business,826xx,FL,36.70,4,Jul-00,5,97,12,9,2,14221,69.2,15,w,2848.733383,2848.733383,5269.32,5269.32,2786.79,312.77,0,411.18,0,Oct-12,1256.89,Oct-18,Nov-09,0,86,1,JOINT,NaN,NaN,NaN,1,5651,65674,9,3,4,2,22,73260,38.5,3,8,7195,8.6,75743,2,7,14
1,1000001,7550634,12889,12889,12818,60 months,21.10,486.26,E,F5,Analyst,10+ years,RENT,77965,Verified,Apr-08,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,major_purchase,major_purchase,371xx,FL,9.00,1,May-05,8,37,95,21,3,3849,36.7,28,w,486.303639,486.303639,14077.04,14077.04,7890.49,474.55,0,203.01,0,Sep-17,31.98,Dec-18,Nov-15,0,80,1,INDIVIDUAL,NaN,NaN,NaN,2,9884,169178,6,4,4,2,94,61649,89.6,2,16,15986,76.7,20687,3,12,11
2,1000002,5304572,28413,28413,28365,60 months,22.00,1085.11,F,G2,Doctor,7 years,OWN,254466,Verified,Apr-07,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,small_business,small_business,868xx,GA,18.98,2,Mar-02,0,28,54,28,2,22814,7.3,40,f,4621.584492,4621.584492,17706.13,17706.13,15865.62,1680.83,0,312.33,0,Jul-11,1198.52,Jun-19,Jan-16,0,44,1,JOINT,NaN,NaN,NaN,0,1362,474514,7,4,3,13,93,67743,14.2,0,2,17843,69.1,33780,4,9,6
3,1000003,3234489,13275,13275,13177,36 months,10.78,433.22,C,A1,Developer,2 years,OWN,89776,Not Verified,Apr-15,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,home_improvement,home_improvement,383xx,OH,18.98,4,Aug-04,3,60,7,26,3,46767,73.8,37,f,7659.298422,7659.298422,8718.96,8718.96,8809.01,1392.19,0,48.17,0,Sep-13,292.56,Feb-19,Feb-10,0,9,1,JOINT,NaN,NaN,NaN,2,458,172529,6,3,2,4,70,13596,35.8,6,13,7374,73.3,51219,3,7,2
4,1000004,8204212,3461,3461,3451,36 months,24.05,135.88,C,C3,Doctor,6 years,OWN,110932,Source Verified,Jan-10,Late (31-120 days),n,https://www.lendingclub.com/browse/loanDetail....,Borrower added for business purpose,vacation,vacation,405xx,IL,32.62,3,Nov-02,9,31,61,15,2,4616,96.5,37,f,221.526327,221.526327,4465.51,4465.51,2638.47,911.59,0,388.52,0,Nov-17,284.82,Jun-19,May-14,0,8,1,INDIVIDUAL,NaN,NaN,NaN,2,4785,125768,7,2,4,0,19,32746,69.8,0,2,17830,66.8,90069,8,9,6

In [60]:
pd.set_option('display.max_columns', None)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2000 non-null   int64
 1   member_id                    2000 non-null   int64
 2   loan_amnt                    2000 non-null   int64
 3   funded_amnt                  2000 non-null   int64
 4   funded_amnt_inv              2000 non-null   int64
 5   term                         2000 non-null   object
 6   int_rate                     2000 non-null   float64
 7   installment                  2000 non-null   float64
 8   grade                        2000 non-null   object
 9   sub_grade                    2000 non-null   object
 10  emp_title                    1800 non-null   object
 11  emp_length                   2000 non-null   object
 12  home_ownership               2000 non-null   object
 13  annual_inc                   2000 non-null   int64
 14  verification_status          2000 non-null   object
 15  issue_d                      2000 non-null   object
 16  loan_status                  2000 non-null   object
 17  pymnt_plan                   2000 non-null   object
 18  url                          2000 non-null   object
 19  desc                         2000 non-null   object
 20  purpose                      2000 non-null   object
 21  title                        2000 non-null   object
 22  zip_code                     2000 non-null   object
 23  addr_state                   2000 non-null   object
 24  dti                          2000 non-null   float64
 25  delinq_2yrs                  2000 non-null   int64
 26  earliest_cr_line             2000 non-null   object
 27  inq_last_6mths               2000 non-null   int64
 28  mths_since_last_delinq       2000 non-null   int64
 29  mths_since_last_record       2000 non-null   int64
 30  open_acc                     2000 non-null   int64
 31  pub_rec                      2000 non-null   int64
 32  revol_bal                    2000 non-null   int64
 33  revol_util                   2000 non-null   float64
 34  total_acc                    2000 non-null   int64
 35  initial_list_status          2000 non-null   object
 36  out_prncp                    2000 non-null   float64
 37  out_prncp_inv                2000 non-null   float64
 38  total_pymnt                  2000 non-null   float64
 39  total_pymnt_inv              2000 non-null   float64
 40  total_rec_prncp              2000 non-null   float64
 41  total_rec_int                2000 non-null   float64
 42  total_rec_late_fee           2000 non-null   int64
 43  recoveries                   2000 non-null   float64
 44  collection_recovery_fee      2000 non-null   int64
 45  last_pymnt_d                 2000 non-null   object
 46  last_pymnt_amnt              2000 non-null   float64
 47  next_pymnt_d                 2000 non-null   object
 48  last_credit_pull_d           2000 non-null   object
 49  collections_12_mths_ex_med   2000 non-null   int64
 50  mths_since_last_major_derog  2000 non-null   int64
 51  policy_code                  2000 non-null   int64
 52  application_type             2000 non-null   object
 53  annual_inc_joint             0 non-null      float64
 54  dti_joint                    0 non-null      float64
 55  verification_status_joint    0 non-null      float64
 56  acc_now_delinq               2000 non-null   int64
 57  tot_coll_amt                 2000 non-null   int64
 58  tot_cur_bal                  2000 non-null   int64
 59  open_acc_6m                  2000 non-null   int64
 60  open_il_6m                   2000 non-null   int64
 61  open_il_12m                  2000 non-null   int64
 62  open_il_24m                  2000 non-null   int64
 63  mths_since_rcnt_il           2000 non-null   int64
 64  total_bal_il                 2000 non-null   int64
 65  il_util                      2000 non-null   float64
 66  open_rv_12m                  2000 non-null   int64
 67  open_rv_24m                  2000 non-null   int64
 68  max_bal_bc                   2000 non-null   int64
 69  all_util                     2000 non-null   float64
 70  total_rev_hi_lim             2000 non-null   int64
 71  inq_fi                       2000 non-null   int64
 72  total_cu_tl                  2000 non-null   int64
 73  inq_last_12m                 2000 non-null   int64
dtypes: float64(17), int64(35), object(22)
memory usage: 1.1+ MB

All Continuos Variable Must be Numeric

In [62]:
df['emp_length'].unique()

array(['7 years', '10+ years', '2 years', '6 years', '1 year', '8 years',
       '4 years', '5 years', '< 1 year', '9 years', '3 years'],
      dtype=object)

In [63]:
# Cleaning the emp_length column
df['emp_length'] = df['emp_length'].str.replace(' years', '')
df['emp_length'] = df['emp_length'].str.replace(' year', '')
df['emp_length'] = df['emp_length'].str.replace('< 1', '0')
df['emp_length'] = df['emp_length'].str.replace('10+', '10')
df['emp_length'] = df['emp_length'].str.replace('n/a', '0')
df['emp_length'] = df['emp_length'].astype(int)

Checking the conversion

In [64]:
df['emp_length'].unique()

array([ 7, 10,  2,  6,  1,  8,  4,  5,  0,  9,  3])

In [65]:
type(df['emp_length'][0])

numpy.int64

In [66]:
df['emp_length'] = pd.to_numeric(df['emp_length'])
# All Continuos Variable Must be Numeric
type(df['emp_length'][0])

numpy.int64

## Credit Line Column Handling
Like when the loan was dispersed

In [70]:
df['earliest_cr_line_date'] = df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], format='%b-%y', errors='coerce')

In [80]:
mask = df['earliest_cr_line_date'].dt.year > 2025
df.loc[mask, 'earliest_cr_line_date'] = df.loc[mask, 'earliest_cr_line_date'] + pd.DateOffset(years=100)
df['earliest_cr_line_date'].head()

# Assuming the date before 2025 should be 1900s
df['earliest_cr_line_date'].min()

Timestamp('1980-01-01 00:00:00')

In [79]:
type(df['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

Finding overall time passed after the earliest_Credit_Line

In [83]:
pd.to_datetime("2025-10-12") - df['earliest_cr_line_date'].head()

0   9234 days
1   7469 days
2   8626 days
3   7742 days
4   8381 days
Name: earliest_cr_line_date, dtype: timedelta64[ns]